
.catalog-hero .container {
	padding-bottom: 0;

	@include bp-min-width($medium) {
		padding-top: $base*4;
		padding-bottom: $base*2;
	}
}

.catalogs .container {
	padding-top: $base;
	padding-bottom: 0;

	@include bp-min-width($medium) {
		padding-bottom: $base*4;
	}
}

.catalog-grid__item:not(:last-child) {
	@include bp-max-width($medium) {
		margin-bottom: $base*2;
	}
}

.catalog-grid__item-title {
	margin-bottom: 12px;

	@include bp-min-width($medium) {
		margin-bottom: $base;
	}
}

.catalog-grid__item-link {
	position: relative;
	display: block;
}

.catalog-grid__item-link:hover {
	@include bp-min-width($medium) {
		transform: translateY(-6px);
		box-shadow: inset 4px 4px white, inset -4px -4px white, 4px 4px 20px 4px rgba(0,0,0,0.08);
	}
}

.catalog-grid__item-link:hover .catalog-grid__item-overlay {
	@include bp-min-width($medium) {
		opacity: 1;
	}
}

.catalog-grid__item-overlay {
	transition: opacity .15s ease-in;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	background: rgba($turq, 0.8);

	@include bp-min-width($medium) {
		opacity: 0;
	}
}

.catalog-grid__item-overlay p {
	@include font-size(20px);
	color: white;
	font-weight: $weight-bold;
	font-style: italic;
	text-transform: uppercase;

	@include bp-min-width($medium) {
		@include font-size(33px);
	}
}

.colors .container {
	padding-top: $base;

	@include bp-min-width($medium) {
		padding-bottom: $base*4;
	}
}

.upholstery .container {
	padding-bottom: 0;

	@include bp-min-width($medium) {
		padding-bottom: $base*3;
	}
}

.upholstery__title,
.colors__title {
	margin-bottom: $base;
}

.color-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.upholstery-grid__item {
	margin-bottom: $base;
}

.color-grid__item {
	width: 50%;
	padding: 0 10px;
	margin-bottom: 20px;

	@include bp-min-width($medium) {
		width: 186px;
	}
}

.upholstery-grid__item-title {
	padding-top: 6px;
	font-weight: $weight-bold;

	@include bp-min-width($medium) {
		@include font-units(16px, 21px);
	}
}

.color-grid__item-title {
	@include font-units(12px, 12px);
	padding-top: 6px;
}
